<ng-container *ngIf='isMobile$ | async;else desktopNavigation'>
  <mat-toolbar color='primary'>
    <span>Quote Generator</span>
  </mat-toolbar>
  <mat-toolbar color='primary'>
    <nav mat-tab-nav-bar color='accent'>
      <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive">
        {{link.label}}
      </a>
    </nav>
  </mat-toolbar>
</ng-container>
<ng-template #desktopNavigation>
  <mat-toolbar color='primary'>
    <span class='app-title' routerLink='/'>Quote Generator</span>
    <span class="spacer"></span>
    <button mat-button *ngFor='let link of navLinks' [routerLink]="link.path" routerLinkActive='active'>
      {{ link.label }}
    </button>
  </mat-toolbar>
</ng-template>
<div class="container">
  <router-outlet></router-outlet>
</div>