<div class="row">
  <div class="col-12">
    <mat-card>
      <h1 class="text-center">Welcome to the Quote Generator App</h1>
    </mat-card>
  </div>
  <div class="col-12 my-3">
    <mat-card>
      <mat-card-content class='font-medium'>
        <p>
          This app has been created as a client to use the
          <a target='_blank' href="https://rapidapi.com/chikaslocalhost/api/150000-quotes/details">150000+ Quotes API</a> developed by
          <a target='_blank' href="https://rapidapi.com/user/chikaslocalhost"><b>chikaslocalhost</b></a> from
          <a target='_blank' href="https://rapidapi.com/">rapiapi.com</a>
        </p>
        <p>The API contains over 150000 quotes that you can obtain with our different methods</p>
        <p>
          The app has three ways of giving you back a quote:
        </p>
        <ul>
          <li>Random <br> You'll get a random quote from the +150000 database</li>
          <li>By author <br> You can enter your favorite author's name and a quote from him/her will be returned randomly</li>
          <li>By keywords <br> You can enter any list of keywords to find a themed quote (ie. love, death, motivation)</li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-12 my-3">
    <mat-card>
      <mat-card-content>
        <h3 class='text-center'>
          So... what are you waiting now?
        </h3>
        <img src='/assets/images/sun-bg.jpeg' style='height: 350px;' mat-card-image>
      </mat-card-content>
    </mat-card>
  </div>
</div>